#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height:100vh;
  min-width:200vh;
  background-color: rgb(158, 187, 186);
}

.task-title {
  text-align: center;
  color: #070707;
  font-size: 2.5rem;
}

.rectangle {
  width: 1425px;
  background-color: #e2e8e9;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  color: #333;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 80%;
  max-width: 500px;
  margin-top: 20px;
}

.task-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #222;
}

.task-form input {
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
}

.task-form input:focus {
  border-color: #57cc99;
  box-shadow: 0 0 5px rgba(87, 204, 153, 0.5);
}

.task-form textarea {
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 17px;
  font-family: system-ui; 
  min-height: 100px;
  resize: vertical;   
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
}

.task-form textarea:focus {
  border-color: #57cc99;
  box-shadow: 0 0 5px rgba(87, 204, 153, 0.5);
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 10px;
  text-align: left;
  border: none;
}

.checkbox-group label {
  font-weight: normal;
  font-size: 15px;
  color: #444;
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-form button {
  padding: 12px;
  background-color: rgb(158, 187, 186);
  border: none;
  border-radius: 6px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 20px;
}

.task-form button:hover {
  background-color: #95f3f8;
}
